language: go
go:
  - "1.12"
before_install:
  - go get github.com/mattn/goveralls
  - go get github.com/fzipp/gocyclo
install: true
before_script:
  - echo $TRAVIS_COMMIT
  - echo $TRAVIS_TAG
  - echo $TRAVIS_BRANCH
  - echo $TRAVIS_BUILD_NUMBER
  - echo $TRAVIS_REPO_SLUG
script:
  - env GO111MODULE=on go mod download
  - env GO111MODULE=on go vet $(go list ./... | grep -v vendor)
  - env GO111MODULE=on go test -v -race  -coverprofile=coverage.out -coverpkg=./... $(go list ./... | grep -v vendor)
  - gocyclo -over 18 `find . -iname '*.go' | grep -v vendor | grep -v '_test.go'`
  - "$GOPATH/bin/goveralls -coverprofile=coverage.out -service=travis-ci"
before_deploy:
  - go get github.com/mitchellh/gox
  - gox -ldflags "-X github.com/target/flottbot/version.Version=${TRAVIS_TAG} -X github.com/target/flottbot/version.GitHash=${TRAVIS_COMMIT}" -os="linux darwin windows" -arch="amd64" -verbose ./...
  - "./tar-release.sh"
deploy:
  provider: releases
  api_key:
    secure: Qmsp2BaaC+ueLZ2xc6K2vkt1sg6E3gcvDv9TkJtc6rPU7hSBL6DR9Ot/o96KtSde2kDxwjSAsj4q8I4SvROJxOAYMB0G5CiEQpueA0V2sUlUbIe9YJPPKwOV/NfPVrceTrtN9bYVY4DmIMOJQxcsXdh8g8wODiKGfZVifEnzQJMHYireABZWZvjhntqjFdvq7XrkWeWbUA6ZKOKUtyPL6vdsf1HnvvNB/1sH8bdIz0vLfNEBoH7xsZiUNNJP19IX/Po73DgnrJnkzGntr/yOluHrE2VmBuRmMDSeyRAazVV5yYBF/xwYZGhCfWMDpkLjQHIS3p2h/dtQXWXz0YfHMg/aAPf3gzzHN83zrkbbnzzWDu0a00tHLCGEho6vfsqfjRxRMARcyAsAYt/FO2slBQv8k4pZl3PesFGGxzsV9BbQSIGJEWabqi4swUtw2mtT7FdLgyIAEGIcEAcYnZa+0fH6K/f6UjxBU/kHQe5eybMHLf+Q+GxnEpO9B45O9WjM7a/l96xg0x7E/7K9ZNgCdQGLRC4SLlG4KE6shQH9sRFSm2+edG/kS5FxfHCVbGElpkJNtpoJj9pmvzaXbjMYucSdsVe9SYgHW7FbANAcTiqNgrRMcunchqpJame9m7FbXCuh6BzzTkOl9Nnfh+TIeuTfH1YVAMicRZxN2s35kwE=
  file_glob: true
  file: "*.tgz"
  skip_cleanup: true
  on:
    tags: true
    repo: target/flottbot
