# name of the action
name: publish_latest

# trigger on push events with branch master
on:
  push:
    branches: [main]

permissions:
  contents: read

# pipeline to execute
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: clone
        uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: Set up QEMU
        uses: docker/setup-qemu-action@68827325e0b33c7199eb31dd4e31fbe9023e06e3 # v3
        with:
          platforms: 'arm64'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb # v3

      - name: build and push docker images
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          make docker-build-push-latest
