# name of the action
name: publish_latest

# trigger on push events with branch master
on:
  push:
    branches: [main]

permissions:
  contents: read

# pipeline to execute
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: clone
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          platforms: 'arm64'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: build and push docker images
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          make docker-build-push-latest
