# name of the action
name: release

# trigger on push events
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'

# pipeline to execute
jobs:
  binary:
    runs-on: ubuntu-latest
    container:
      image: docker.io/golang:1.18@sha256:5540a6a6b3b612c382accc545b3f6702de21e77b15d89ad947116c94b5f42993
    steps:
      - name: clone
        uses: actions/checkout@v3
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: cache
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-gomod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-gomod-

      - name: run goreleaser
        uses: goreleaser/goreleaser-action@v3
        with:
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docker:
    runs-on: ubuntu-latest
    steps:
      - name: clone
        uses: actions/checkout@v3
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: create docker images
        run: |
          make docker-create-all

      - name: push docker images
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          make docker-push
