# name of the action
name: validate

# trigger on pull_request or push events
on:
  pull_request:
  push:

permissions:
  contents: read

# pipeline to execute
jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: clone
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: install go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          # use version from go.mod file
          go-version-file: 'go.mod'
          cache: true
          check-latest: true

      - name: validate
        run: |
          make validate
          git diff --exit-code
